

aioredis==2.0.1
amqp==5.0.9
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.1.1
Automat==20.2.0
backports.zoneinfo==0.2.1
bidict==0.21.4
billiard==3.6.4.0
cachetools==5.0.0
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudinary==1.28.1
colorama==0.4.4
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
daphne==3.0.2
defusedxml==0.7.1
Deprecated==1.2.13
dj-database-url==0.5.0
dj-rest-auth==2.2.2
Django==3.2.10
django-allauth==0.47.0
django-braces==1.15.0
django-cloudinary-storage==0.3.0
django-cors-headers==3.11.0
django-countries==7.2.1
django-decouple==2.1
django-environ==0.8.1
django-mailjet==0.3.1
django-oauth-toolkit==1.7.0
django-phonenumber-field==6.0.0
django-phonenumbers==1.0.1
django-redis==5.2.0
django-rest-auth==0.9.5
django-rest-framework-social-oauth2==1.1.0
django-redis==5.2.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
drf-yasg==1.20.0
google-auth==2.5.0
gunicorn==20.1.0
h11==0.12.0
heroku==0.1.4
httptools==0.3.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
jwcrypto==1.0
kombu==5.2.3
mailjet-rest==1.3.4
MarkupSafe==2.0.1
oauthlib==3.1.1
packaging==21.3
phonenumbers==8.12.43
Pillow==9.0.0
prompt-toolkit==3.0.28
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pyOpenSSL==22.0.0
pyparsing==3.0.6
python-dateutil==1.5
python-decouple==3.5
python-dotenv==0.19.2
python-engineio==4.3.0
python-socketio==5.5.0
python3-openid==3.2.0
pytz==2021.3
PyYAML==6.0
redis==4.1.0
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
service-identity==21.1.0
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sqlparse==0.4.2
twilio==7.7.1
txaio==21.2.1
typing_extensions==4.0.1
tzdata==2021.5
uritemplate==4.1.1
urllib3==1.26.8
uvicorn==0.16.0
vine==5.0.0
watchgod==0.7
wcwidth==0.2.5
websockets==10.1
whitenoise==5.3.0
wrapt==1.13.3
zope.interface==5.4.0